@import url('https://fonts.googleapis.com/css?family=Roboto');

  
.navigation-bar, .header-logo {
    height: 50px;
}

.header{
    padding: 20px 30px;
    width: 900px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.logo-container, .nav-list-container {
    display: inline-block;
}

.logo-container {
    float: left;
}

.nav-list li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1em;
    letter-spacing: 2px;
    color: #3a3a3a;
    cursor: pointer;    
}

.nav-list li:hover {
    color: black;
}

.toggle-navbar {
    display: none;
    font-size: 1.3em;
}


.header-logo {
}

@media (max-width: 730px) {
    /* ==== */
    .nav-list-container {
        display: block;
        position: absolute;
        left: 0;
        right: 0;

    }

    .nav-list {
        padding: 0;
        border-top: 2px solid #d9d9d9;        
        border-bottom: 2px solid #d9d9d9;
        border-left: 2px solid #d9d9d9;
        border-right: 2px solid #d9d9d9;
        /* border-bottom-left-radius: 3px; */
        /* border-bottom-right-radius: 3px; */
        background: white;
    }

    .hide {
        overflow: hidden;
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        -moz-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    .show {
        -moz-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        max-height: 1000px;
        overflow: hidden;
    }

    .nav-list li {
        display: block;
        padding: 15px 0;
        font-weight: normal;
        border-bottom: 2px solid #d9d9d9;
    }

    .nav-list li:last-child {
        border-bottom: none;
    }
    /* ==== */

    .header {
        text-align: center;
    }

    .logo-container {
        float: none;
    }

    .toggle-navbar {
        font-size: 1.8em;
        display: inline;
        position: absolute;
        right: 50px;
        top: 31px;
    }
}