.headline-container {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #f7f7f7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #f7f7f7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #f7f7f7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #f7f7f7); /* Standard syntax */
}

.headline-main {
    width: 85%;
    margin: 0 auto;
    overflow: auto;
}

.headline-text-container {
    width: 55%;
    display: inline-block;
}

.headline-img-container {
    width: 45%;
    display: inline-block;
    text-align: right;
    float: right;
}

.headline-text-container {
    vertical-align: top;
    color: #6b6b6b;
}

.headline-img {
    max-width: 60%;
}

.headline-text {
    width: 80%;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #7f8fff;
}

.headline-services {
    font-family: 'Source Sans Pro', sans-serif;  
    color: #6b6b6b;    
    font-size: 1.1em;    
    width: 85%;
    margin: 0;
    margin: 0 auto;
}

.headline-call-action {
    width: 85%;
    margin: 0 auto;
}

.headline-call-action-button {
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background: #527a91;
    font-size: 1.2em;    
    color: white;
    cursor: pointer;    
}

.headline-call-action-button:hover {
    color: #527a91;
    background: #f0f0f0;
    border-color: #527a91
}

.headline-call-action-info {
    color: #527a91;
    font-weight: bold;
    padding-left: 4px;
    cursor: pointer;
}

@media (max-width: 730px) {
    .headline-text-container, .headline-img-container {
        display: block;
        width: 100%;
    }

    .headline-img-container {
        text-align: center;
    }        
    .headline-img {
        max-width: 200px;
    }
        
}    

@media (min-width: 731px) and (max-width: 880px) {
    .headline-img {
        max-width: 80%;
    }
}