body {
    width: 100%;
    -moz-osx-font-smoothing: grayscale;    
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;
}

